/* Vendored from https://github.com/rmmh/webtreemap/blob/9fa0c066a10ea4402d960b0c6c1a432846ac7fc4/webtreemap.css */

.webtreemap-node {
  /* Required attributes. */
  position: absolute;
  overflow: hidden;   /* To hide overlong captions. */
  background: white;  /* Nodes must be opaque for zIndex layering. */
  border: solid 1px black;  /* Calculations assume 1px border. */

  /* Optional: CSS animation. */
  transition: top    0.3s,
              left   0.3s,
              width  0.3s,
              height 0.3s;

  /* Optional: highlight nodes on mouseover. */
  &:hover {
    border-color: #666;
    background-color: #F0F9FE;
    z-index: 2 !important; /* important needed since z-index is set by js */
    box-shadow: 0 0 3px #0008;

    .webtreemap-caption {
      font-weight: bold;
    }

    & .webtreemap-node:not(:hover) {
      color: #aaa;
      border-color: #aaa;
      background-color: white;

      .webtreemap-caption {
        font-weight: normal;
      }
    }
  }
}

#legend > * {
  border: solid 1px #444;
}

/* Optional: styling on node captions. */
.webtreemap-caption {
  font-family: sans-serif;
  font-size: 11px;
  padding: 2px;
  text-align: center;
}

/* Optional: styling on captions on mouse hover. */
/*.webtreemap-node:hover > .webtreemap-caption {
  text-decoration: underline;
}*/
